@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  position: relative;
  width: 100%;
  height: 60px;
  background-color:#D3D3D3;
  text-align: center;
  color: black;
  bottom: 0;
}

label{
  font-weight: bolder;
  font-size: larger;
}

div#r{
  font-size: 0.8cm;
  text-align: right;
}

div.h{
  font-size: 0.85cm;
  white-space: pre;
  text-align: right;
}

link{
  columns: white;
}

.paymentForm{
  min-height: 100vh;
  width:auto;
  padding: 70px;
}
.paymentForm .card{
padding:30px 10px 10px 10px !important;
}
.count-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card-section {
  background-color: #f6f9f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

/* Product card */

.product-card {
  width: 800px;
  height: 300px;
  margin: 10px;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.product-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.product-image img {
  width: 120%;
}
.product-details {
  width: 100%;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.product-image {
  width: 100%;
  overflow: hidden;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details-body {
  display: flex;
  flex-direction: column;
}
.product-details-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.rating-star {
  color: #ffd700;
  font-size: 20px;
}
.product-price,
.product-title {
  font-weight: 600;
}
.product-small-desc {
  margin-top: 10px;
  font-size: 14px;
}
.payment-button {
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  background-color: #42a5f5;
  outline-style: none;
  border: none;
  height: 35px;
  width: 95px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.payment-button:hover {
  background-color: #1e88e5;
}
